.emulatorStateContainer > * {
  margin-bottom: 10px;
}

.errorContainer {
  color: darkred;
  margin-bottom: 10px;
}

.buttonsContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.buttonsContainer > * {
  margin-right: 5px;
}

.panelsContainer > * {
  width: 500px;
}
